@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Utility Classes */
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
}


.navbar{
    background:#f7f7f7;
}
.navbar .topbar{
    background:#008000;
    padding: 10px 0;
}
.topbar .top-con{
    color: #eee;
    font-size: 1rem;
    /* font-weight: lighter; */
     display: flex; 
    align-content:center ;
    justify-content: space-between; 
   
}
.top-con a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.top-con .right-side-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-con .right-side-content a{
    font-size:1rem;
    /* background: #000;; */
    color: #eee;
}


.order-modal{
    width: 25rem !important;
    /* height: 40vh !important; */
    background:#fff !important;
    color: #212529;
    box-shadow: 0px 0px 4px grey;
    border-radius: 6px;
    position:absolute;
    top:35%;
    left:35%;
    text-align: center;padding: 2rem;
    transition: all 0.23s ease-in-out;
    display: none;
}
.order-modal.active{
    display: block;
    transform: scale(1.01);
}
.order-modal i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}
.order-modal .title{
    font-size: 1.5rem;
    font-weight: 500;
}
.order-modal form {
    margin-top: 2rem;
}
.order-modal form .input{
    margin-bottom: 1rem;
}
.order-modal form .input input{
    border:none;
    outline: none;
    box-shadow: 0px 0px 2px grey;
    font-size: 1.2rem;
    width: 80%;
    padding: 0.7rem 6px;
    border-radius: 4px;
}
.order-modal .btn{
    background:#008000;
    color: #fff;
}
.form-modal{
    width: 25rem;
    /* height: 50vh; */
    background:#fff;
    box-shadow: 0px 0px 3px grey;
    position: absolute;
    top:18%;
    left: 35%;
    border-radius: 6px;
    color: #212528;
    padding: 1rem;
    display: none;
}
.form-modal #form-close{
    font-size: 1.5rem;
    position: absolute;
    right:8px;
    top: 8px;
}
.form-modal form {
    padding: 0 1.5rem;
    margin-top: 2rem;
}
.form-modal form h4{
    color: #212528;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.form-modal form input{
    width: 100%;
    background:transparent;
    padding: 0.8rem 10px;
    border:none;
    box-shadow: 0px 0px 2px grey;
    outline: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    
}
.form-modal form .remember-feild{
    display: flex;
    justify-content: flex-start;
    text-align: right;
    position: relative;
}
.form-modal form .remember-feild a{
    color: blue;
    position: absolute;
    top: -10px;
    right:0;
}
.form-modal form .submit-btn{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}
.form-modal form .submit-btn input{
    background:#008000;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.form-modal footer{
    margin-top: 1rem;
    text-align: center;
}
.form-modal footer :last-child{
    color: blue;
    /* font-weight: bold; */
    font-size: 1.3rem;
}
.navbar .navbar-sticky{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar-sticky .logo{
    width: 14rem;
}
.navbar-sticky .logo img{
    width: 100%;
}
.navbar-sticky .search{
    /* border: 1px solid red; */
    flex-basis: 500px;
}
.navbar-sticky .search :first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px grey;
    width: 70%;
    padding: 0.75rem 10px;
    font-size: 1.2rem;
}
.navbar-sticky .search :last-child{
    display: inline-block;
    color: #fff;
    background:#008000;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px grey;
    padding: 0.7rem 10px;
    margin-left: -6px;
    font-size: 1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.navbar-sticky .icons{
    display: flex;
    gap: 1rem;
}
.navbar-sticky .icons .icon-con{
    display: flex;
    align-items: center;
    grid-area: 1.5rem;
}
.icons .icon-con .icon{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background:#eee;
    text-align: center;
    position: relative;
    padding: 8px;
    color: #212528;
    box-shadow: 0px 0px 2px grey;
    margin-right: 1rem;
    
}
.icon i{
font-size: 1.4rem;
}
.icon span{
    position: absolute;
    top: -10px;
    background:coral;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.icon-con .text :first-child{
    margin-bottom: -2px;
    font-size: 12px;
}
.navbar .navbars{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10px;
}
.navbar .navbars .menu-icon{
    font-size: 1.5rem;
    display: none;
}
.navbar-list{
    list-style: none;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.navbar-list #closeicon{
    font-size: 1.4rem;
    display: none;
}
.navbar-list .nav-item{
    margin-right: 1rem;
}
.navbar-list .nav-link{
    display: inline-block;
    text-decoration:none ;
    color: #212528;
    font-size: 1.1rem;
    transition: all 0.23s ease-in-out;
}
.navbar-list .nav-link.active{
    color: #008000;
}
.navbar-list .nav-link:hover{
    color: #008000;
}
.navbar-list .dropdown{
    color: #212528;
    font-size: 1.1rem;
    /* display: flex;
    align-items: center;
    gap: 7px; */
    transition: all 1s ease-in-out;
    position: relative;
}
.navbar-list .dropdown .menu-items{
    background: #f7f7f7;
    box-shadow: 0px 0px 2px grey;
    list-style: none;
    padding: 5px;
    position: absolute;
    top:2.8rem;
    left: 0rem;
    width: 190px;
    display: none;
transition: all 1s ease-in-out;
}
.menu-items .item{
    border-bottom: 1px solid #eee;
    /* padding-bottom: 4px; */
  
}
.menu-items .link{
    text-decoration: none;
    color: #212528;
    padding: 10px 0px;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: all 0.23s ease-in-out;
}
.menu-items .link i{
    color: rgb(128, 128, 211);
}
.menu-items .link:hover{
    color: #008000 !important;
}
.navbar-list .dropdown:hover{
    color: #008000;
}
.navbar-list .dropdown:hover .menu-items{
    display: block;
}

  

@media screen and (max-width:991px) {
    .top-con{
        padding: 0 2rem;
    }
   .navbar .navbar-sticky{
        padding: 1rem 10px;
    }
     .navbar-sticky .search{
        display: none;
    }
    .navbar .navbars{
        justify-content: flex-end;
        padding: 1rem 3rem;
    }
    .navbar .navbar-list{
        position: fixed;
        left: 0;
        top: 0rem;
        width: 100%;
        height: 100%;
        right:0;
        background:#fff;
        box-shadow: 0px 0px 3px grey;
        flex-direction: column;
        padding: 2rem;
        transform: translateX(-100%);
    }
    .navbar .navbar-list.active{
        transform: translateX(0%);
    }
    .navbar-list #closeicon{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .navbar .navbar-list .nav-item{
        padding: 10px 0;
    }
   
    .navbar-list .dropdown .menu-items{
        position: relative;
        width: 100% !important;
    
    }
    .navbar .navbars .menu-icon{
        display: block;
    }
    .navbar-list .dropdown:hover .menu-items{
        display: none;
    }
    .navbar-list .dropdown:hover .menu-items.active{
        display: block;
    }
}

@media screen and (max-width:768px) {
    .top-con .left-side-content{
        display: none;
    }
    .top-con .right-side-content{
        width: 100%;
        justify-content: space-between !important;
        gap: 0;
        padding: 0 1rem;
    }
     .navbar .navbar-sticky{
        padding: 1rem 10px;
    }
   
}

@media screen and (max-width:576px) {
    .order-modal{
        left: 12%;
    }
    .navbar .navbar-sticky{
        padding: 1.5rem 10px;
    }
     .navbar .navbar-sticky .logo{
        width: 5rem;
     }
    .icons .icon-con .icon{
        width: 2.2rem;
        height: 2.2rem;
        padding: 5px;
     }
     .icon span{
        top: -15px;
        right: -8px;
     }
     .icon i{
        font-size: 1rem;
     }
}